/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-taskbar {
    background-color: #4CAF50;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-taskbar h1 {
    margin: 0;
}

.welcome {
    background-color: #4CAF50;
    padding: 10px 20px;
    text-align: center;
}

.welcome h2,
.welcome p {
    margin: 0;
    color: white;
}

.top-taskbar nav ul {
    list-style-type: none;
    display: flex;
}

.top-taskbar nav li {
    margin: 5px 0;
}

.top-taskbar nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* Services Section Styles */
#services {
    text-align: center;
    padding: 50px;
    background-color: #f0f0f0;
}

.services-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    width: calc(33.33% - 20px);
    height: 150px;
    margin: 15px 0;
    text-align: center;
    cursor: pointer;
}

.service img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.service p {
    margin: 10px 0;
    font-weight: bold;
}

.service:hover img {
    transform: scale(1.1);
}

/* Background Image Styles */
.bg-img {
    background-image: url("hos.jpeg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Login Form Styles */
.container {
    max-width: 100%;
    margin: 0 10px;
    padding: 16px;
    background-color: white;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/* Footer Styles */
.footer {
    background-color: #4CAF50;
    padding: 15px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsiveness */
/* For desktop screens */
@media (min-width: 768px) {
    .container {
        max-width: 400px;
    }

    .map-iframe {
        width: 100%;
        height: 300px;
    }
}

/* For mobile screens */
@media (max-width: 767px) {
    .top-taskbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .welcome {
        padding: 10px 20px;
    }

    .top-taskbar nav ul {
        margin-top: 10px;
    }

    .top-taskbar nav li {
        margin: 5px 0;
    }

    .header {
        padding: 10px;
    }

    .logo img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .bg-img {
        min-height: 300px;
    }

    .container {
        max-width: 100%;
        margin: 0 10px;
    }

    .service {
        width: calc(33.33% - 20px);
    }

    .map-iframe {
        width: 100%;
        height: 200px;
    }
}
